/* Start of main */
.main {
  background: rgba(0, 0, 0, 0.75);
}

.user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #eee;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 20px;
}

.user__period {
  color: #ccc6c6;
  font-weight: 100;
}

.profile {
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
}

.profile__expenses-add-ico {
  text-decoration: none;
  cursor: pointer;
}

.profile__total-progress,
.profile__expenses-progress {
  width: 86%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
}

.profile__total-notify {
  float: right;
  margin-right: 12%;
  margin-top: 10px;
  width: 233px;
  padding: 15px;
  background: #d9681f;
  color: #eee;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 25px;
}

.profile__total-progress::-webkit-progress-bar,
.profile__expenses-progress::-webkit-progress-bar {
  background: #c4c4c4;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.green::-webkit-progress-value {
  background: #108a40;
  border-radius: 7px;
}

.red::-webkit-progress-value {
  background: red;
  border-radius: 7px;
}

.red::-webkit-progress-bar {
  border-radius: 7px;
}

.orange::-webkit-progress-value {
  background: rgb(255, 102, 0);
  border-radius: 7px;
}

.orange::-webkit-progress-bar {
  border-radius: 7px;
}

.profile__total-plan,
.profile__expenses-add {
  margin-left: 10px;
  color: #108a40;
  font-size: 24px;
}

.profile__total-title,
.profile__expenses-description {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 85%;
  color: #eee;
}

.profile__expenses {
  width: 85%;
  margin: 35px 0 0 15px;
  color: #eee;
}

.profile__expenses-title {
  font-weight: bold;
  margin-bottom: 25px;
}

.profile__expenses-description,
.profile__expenses-progress {
  padding-left: 4%;
  width: 65%;
}

.profile__expenses-display {
  color: #eee;
  background: #d9681f;
  padding: 4px;
  border-radius: 50%;
  margin-left: 15px;
}

/* Start of form add*/
.form {
  border: 1px solid #a9a9a963;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.form input,
.form textarea {
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid #f16309a1;
  padding: 5px;
  margin-left: 15px;
  outline: none;
  box-shadow: 0px 3px 10px #4a4a4a96;
  width: 70%;
}

.form div {
  padding: 5px;
  margin-bottom: 5px;
}

.form textarea {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
}

.error {
  text-align: center;
  color: red;
  text-shadow: 3px 3px 5px grey;
}

/* End of form add */

.popup-add {
  min-width: 250px !important;
  max-width: 450px !important;
  padding: 20px !important;
}

.username {
  color: #d9681f;
  padding-left: 5px;
}

@media (max-width:700px) {

  .profile__total-progress{
    width: 80%;
  }
  .profile__expenses-progress {
    width : 50%;
  }

  .profile__total-notify {
    width: 163px;
  }
}

/*End of main*/
