.container {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.75);
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
  border: 1px solid #eeee;
  margin: 2rem auto;
  box-shadow: 0px 0px 3px 0px rgba(210, 206, 206, 0.75);
  font-size: 14px;
  background: white;
}

.wrapper h3 {
  margin-top: 2rem;
  margin-bottom: .5rem;
  letter-spacing: 0.12em;
  color: #25824A;
}

.wrapper p {
  font-size: 13px;
  color: #404040;
  opacity: .9;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.plan_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan_form--column {
  width: 45%;
}

.item {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.plan_form--checkbox {
  width: 1rem;
  height: 1rem;
  color: rgba(14, 14, 14, 0.79);
  outline:none;
}


.plan_form--label {
  width: 60px;
  margin-bottom: .4rem;
  font-size: 13px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.79);
  letter-spacing: 0;
}

.btn_container {
  width: 4rem;
  height: 2rem;
  background: #108A40;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: #FFFFFF;
  float: right;
  margin:1.2rem;
  transition: background 900ms;
}

.btn_container:hover{
  background: #1d9e50;
}

.wrapper:after{
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: #fff;
}

.plan_form--input {
  padding: .2rem;
  margin-bottom: 1rem;
  font-size: 13px;
  margin-bottom: .4rem;
  padding: .3rem .6rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
  outline: none;
}

.active{
  box-shadow: inset 0 0 2px 0px #888;
  background: #fff;
  transition: 500ms;
}

.login--anchor {
  color: blue;
}

.login--label {
  font-size: 15px;
  text-align: left;
  line-height: 30px;
}

.login--input {
  padding: .4rem .9rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: .5rem;
  outline: none;
  box-shadow: inset 0 0 2px 0px #888;
  background: #fff;
  outline:none;
}

@media (max-width: 800px) {
  .container {
    padding: 2rem .8rem;
  }

  .wrapper {
    padding: 0 10px;
  }
  .dollar{
    left: 88%;
  }

  .wrapper h3 {
    font-size: 1.3rem;
  }

  .wrapper p {
    font-size: .9rem;
  }

  .plan_form {
    height: auto;
  }

  .plan_form--label {
    width: 55px;
    font-size: 15px;
  }

  .plan_form--input {
    width: 60%;
    padding: .5rem .6rem;    
  }

  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
  }

  .plan_form--checkbox,
  .plan_form--label {
    justify-content: center;
    align-items: center;
  }

  .form--btn {
    padding: .8rem 2.5rem;
  }
  .btn_container{
    margin: 1rem 0;
  }
}

.error {
  margin: 1rem 0;
  color: red;
}

.input_container {
  display: flex;
  justify-content: center;
}

.login--anchor {
  color: blue;
}

.login--label {
  font-size: 15px;
  text-align: left;
  line-height: 30px;
}

.login--input {
  padding: .4rem .9rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: .8rem;
  outline: none;
}
