.main {
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.signup-container {
  color: black;
  background-color: white;
  border: 1px solid #4b4a4a;
  border-radius: 5px;
  width: 50%;
  padding: 2% 0;
  display: grid;
}

.signup-container h2,
.login-container h2 {
  text-align: center;
  color: #303030;
  font-weight: bold;
  margin-bottom: 5%;
}

.signup-container input,
.login-container input {
  box-shadow: 1px 1px #0202022f;
  margin: 0 auto;
  width: 80%;
  border: 1px solid #0000005e;
  border-radius: 2.5px;
  padding: 8px 5px;
  margin-bottom: 4vh;
  outline: none;
}

.login-in,
.sign-up {
  width: 50%;
  margin-right: auto;
  background-color: white;
}

.login-container .login,
.signup-container .sign-up {
  margin: 15px auto 0;
  width: 50%;
  background-color: #067130;
  color: white;
  padding: 10px;
  border: 1px solid #108A40;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

.login-container-p,
.signup-container-p {
  margin: 0 auto;
  color: gray;
}

.error {
  margin: 10px auto 0;
  color: red;
}

@media (max-width:600px) {

  .login-container,
  .signup-container {
    width: 85%;
  }

  .signup-container input,
  .login-container input {
    margin-left: 2.4vh;
  }
}

@media (max-width:420px) {

  .login-container,
  .signup-container {
    width: 80%;
  }
}
