<div class='wrapper'>
  <h2 class='heading2'>Start Managing Your Wallet</h2>
  <div class='form_container'>
    <div class='form'>
      <div class='form--row'>
        <h3>Add your income and select the period for managing your budget:</h3>
      </div>
      <div class='form--row form--row--middle'>
        <div class='form--column form--column--left'>
          <label for='budget' class='form--label'>Income</label>
          <label for='starting' class='form--label'>From</label>
          <label for='ending' class='form--label'>To</label>
        </div>
        <div class='form--column form--column--right'>
          <input autocomplete="off" id='budget' value='' type='number' step='0.01' placeholder='Your Budget' class='form--input'>
          <input id='starting' type='date' value='' min='20/03/2019' class='form--input'>
          <input id='ending' type='date' value='' min='20/03/2019' class='form--input'>
        </div>
      </div>
      <div id='error' class='error'></div>
      <div class='button_container'>
        <a id='nextButton' href='' class='form--btn'>Next</a>
      </div>
    </div>
  </div>
</div>
