<section>
  <div class='wrapper'>
    <h2 class='heading2'>Start Managing Your Wallet</h2>
    <div class='form_container'>
      <div class='form'>
        <div class='form--row form--row--bottom'>
          <span class="dot--orange dot--left"></span>
          <span class="dot"></span>
        </div>
        <div class='form--row'>
          <p>Add your income and select the period for managing your budget:</p>
        </div>
        <div class='form--row form--row--middle'>
          <div class='form--column form--column--left'>
            <label class='form--label'>Income</label>
            <label class='form--label'>From</label>
            <label class='form--label'>To</label>
          </div>
          <div class='form--column form--column--right'>
            <input type='text' placeholder='Your Budget' class='form--input'>
            <input type='date' value='20-3-2019' min='20-3-2019' class='form--input'>
            <input type='date' value='2019-3-20' min='20-3-2019' class='form--input'>
          </div>
        </div>
        <div class='button_container'>
          <a href='' class='form--btn'>Next</a>
        </div>
      </div>
    </div>
  </div>
</section>
