<section>
    <div class="hero">
      <h2>Track How You <br> Spend Your Money</h2>
      <div class="row">
        <button class='hero__btn'><a href="/login">Login</a></button>
        <button class='hero__btn hero__btn--top'><a href="/sign-up">Sign Up</a></button>
      </div>
      <div class="row">
        <button class='hero__btn'><a href="/my-wallet">Pre-Tour</a></button>
      </div>
    </div>
  </section>
