<section>
    <div class="hero">
      <h2>Track How You <br> Spend Your Money</h2>
      <div class="row">
        <button class='hero__btn'>Login</button>
        <button class='hero__btn hero__btn--top'>Signup</button>
      </div>
      <div class="row">
        <button class='hero__btn'>Pre-Tour</button>
      </div>
    </div>
  </section>
