<section>
    <div class="hero">
      <h2>Track How You <br> Spend Your Money</h2>
      <div class="row">
<<<<<<< HEAD
        <button class='hero__btn'><a href="/login">Login</a></button>
        <button class='hero__btn hero__btn--top'><a href="/sign-up">Sign Up</a></button>
      </div>
      <div class="row">
        <button class='hero__btn'><a href="/my-wallet">Pre-Tour</a></button>
=======
        <button onclick='window.location.href="/login"' class='hero__btn'>Login</button>
        <button onclick='window.location.href="/signup"' class='hero__btn hero__btn--top'>Signup</button>
      </div>
      <div class="row">
        <button onclick='window.location.href="/my-wallet"' class='hero__btn'>Pre-Tour</button>
>>>>>>> e616ecdc6cef81b684e766e60d2e3df4f13b12e6
      </div>
    </div>
  </section>
