<section>
    <div class="hero">
      <h2>Track How You <br> Spend Your Money</h2>
      <div class="row">
        <a href="/login" class='hero__btn'>Login</a>
        <a href="/signup" class='hero__btn hero__btn--top'>Signup</a>
      </div>
      <div class="row">
        <a href="/my-wallet" class='hero__btn'>Pre-Tour</a>
      </div>
    </div>
  </section>
