<section>
    <div class="hero">
      <h2>Track How You <br> Spend Your Money</h2>
      <div class="row">
        <button class='hero_btn'>Login</button>
        <button class='hero_btn hero-btn-top'>Signup</button>
      </div>
      <div class="row">
        <button class='hero_btn'>Pre-Tour</button>
      </div>
    </div>
  </section>
