<form class="login-container" id="form">
        <h2>Login to manage your wallet </h2>
        <input type="email" class="email" id="email" placeholder="Email">
        <input type="password" class="password" id="password" placeholder="password">
        <p class="login-container-p">Dont have an  account <a href="/SignUp">Sign Up</a></p>
        <button class="login" id="login">Login</button>
    </form>
