<div class='wrapper'>
    <form id='form' class="login-container">
        <h2>Login to Manage your Wallet </h2>
        <input autocomplete='off' type="email" class="login--input" id="email" placeholder="Email" required>
        <input autocomplete='off' type="password" class="login--input" id="password" placeholder="password" required>
        <p class='signup_msg'>Dont have an account? <a href="/sign-up">Sign Up</a></p>
        <span id="login_error" class='login_error'></span>
        <button class="login--btn" id="send">Login</button>
    </form>
</div>
