<section class="profile">
      <div class="profile__total">
        <div class="profile__total-title">
          <p>Total Expense</p>
          <p>0.0$/0.0$</p>
        </div>
        <progress class="profile__total-progress progress" max="100" value=""></progress>
        <a href="/plan">
          <i class="fa fa-plus-circle profile__total-plan"></i>
        </a>
      </div>
      <div class="profile__expenses">
        <p class="profile__expenses-title">Your Expenses : </p>
        <div class="profile__expenses-description">
          <p>Category Expense</p>
          <p>0.0$/0.0$</p>
        </div>
        <progress class="profile__expenses-progress progress" max="100" value=""></progress>
        <a href="/plan">
          <i class="fa fa-plus-circle profile__expenses-add"></i>
        </a>
        <a href="/profile/transactions"><i class="far fa-list-alt profile__expenses-display"></i></a>
      </div>
    </section>
