<div class='container'>
  <div class='wrapper'>
    <h3>Add Your Plan Now!</h2>
      <p>Select categories and set the budget you want to spend this month:</p>
      <div class='error' id='error'></div>
      <div class='plan_form'>
          {{#each categories}}
          <div class='item'>
            <label for='clothes' class='plan_form--label'>{{name}}</label>
            <input name={{name}} value={{name}} class='plan_form--checkbox' type="checkbox">
            <input autocomplete="off" type='number' step='0.1' catId={{id}} value='' class='plan_form--input' disabled='disabled'>
          </div>
          {{/each}}
        </div>
        <a href='#' id='addButton' class='btn_container'>Add</a>
      </div>
      
  </div>
