<form class="signup-container">
  <h2>Create A new Account</h2>
  <input type="email" class="email" id="email" placeholder="Email" required>
  <input type="text" class="username" id="username" placeholder="Username" required>
  <input type="password" class="password" id="password" placeholder="password" required>
  <input type="password" class="confirm-password" id="confirmPassword" placeholder="confirm password" required>
  <p class="signup-container-p">Have an account ? <a href="/login">login</a></p>
  <button class="sign-up" id="sign-up">Sign Up</button>
</form>
