<footer class="footer">
    <span class="footer__copyright">Copyrights &copy; GSG</span>
    <div class="footer__links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab far fa-envelope"></i></a>
    </div>
</footer>
