<header class="header">
    <a href="/" class="header__home_link">
        <h1 class="header__logo"><span>Wa</span>llet</h1>
    </a>
    <div class="header__links">
        <a href="/allTransaction">All Transaction</a>
        <a href="/logout">Log Out</a>
    </div>
</header>