<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div class='wrapper'>
    <nav class='navbar'>
      <span class="logo logo--2">Wa<span class='logo--3'>llet</span></span>
    </nav>
    <main>
      {{{body}}}
    </main>
    {{>footer}}
  </div>
</body>
</html>
