<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header}}
    <main class="main">
        {{{body}}}
    </main>
    {{>footer}}
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/js/common.js"></script>
    <script src={{script}}></script>
</body>
</html>
