<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header}}
    <main class="main">
        {{{body}}}
    </main>
    {{>footer}}
<<<<<<< HEAD
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
=======
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/js/common.js"></script>
>>>>>>> e616ecdc6cef81b684e766e60d2e3df4f13b12e6
    <script src={{script}}></script>
</body>
</html>
